body {
    font-family: Arial;
    margin: 0;
    background: #eef2f7;
}

/* HEADER */
header {
    background: linear-gradient(90deg, #1f2937, #3b82f6);
    color: white;
    text-align: center;
    padding: 40px;
}

/* MENU */
nav {
    background: #111;
    text-align: center;
    padding: 15px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: #3b82f6;
}

/* SECTIONS */
section {
    margin: 30px;
    padding: 25px;
    background: white;
    border-radius: 12px;
}

h2 {
    color: #1f2937;
}

/* BOX */
.box {
    background: #f1f5f9;
    padding: 15px;
    border-left: 5px solid #3b82f6;
    margin-top: 15px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #1f2937;
    color: white;
}